@import '~@angular/material/theming';

@include mat-core();

$gepardec-pal: (
  50 : #fdfae0,
  100 : #fbf2b3,
  200 : #f8e980,
  300 : #f5e04d,
  400 : #f2d926,
  500 : #f0d200,
  600 : #eecd00,
  700 : #ecc700,
  800 : #e9c100,
  900 : #e5b600,
  A100 : #ffffff,
  A200 : #fff6d9,
  A400 : #ffeaa6,
  A700 : #ffe48c,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mega-primary: mat-palette($gepardec-pal);
$mega-accent: mat-palette($gepardec-pal, A100);

$mega-theme: mat-light-theme($mega-primary, $mega-accent);

// Global theme
@mixin global-theme($mega-theme) {
  $primary: $mega-primary;
  $accent: $mega-accent;

  .mat-button-toggle-checked {
    background-color: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }

}

@include angular-material-theme($mega-theme);
@include global-theme($mega-theme);

// Custom/component specific themes
@mixin green-checkboxes($mega-theme) {
  .mat-checkbox-checked.mat-accent .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
  .mat-accent .mat-pseudo-checkbox-checked,
  .mat-accent .mat-pseudo-checkbox-indeterminate,
  .mat-pseudo-checkbox-checked,
  .mat-pseudo-checkbox-indeterminate {
    background-color: #007a53;;
  }
}

app-display-monthly-report {
  @include green-checkboxes($mega-theme);
}
