<mat-toolbar class="toolbar" color="primary">
  <mat-toolbar-row>
    <div class="header-caption">
      <h1 [routerLink]="loginPageUrl[1]">MEGA</h1>
    </div>

    <nav mat-tab-nav-bar>
      <a mat-tab-link
         *ngFor="let link of links"
         [routerLink]="link[1]"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive">
        {{link[0]}}
      </a>
    </nav>

    <div class="useractions">
      <app-user-actions></app-user-actions>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
