<div class="container">
  <mat-toolbar>
    <mat-toolbar-row>
      <h1 class="title">Geparden</h1><mat-spinner [diameter]="20" *ngIf=" isRefreshingTimes" style="margin-right: 10px;"></mat-spinner>
      <app-datepicker *ngIf="employees && selectedEmployees?.length > 0"
                      (dateEmitter)="dateChanged($event)"></app-datepicker>
      <button mat-button
              [disabled]="selectedEmployees?.length == 0 || selectedDate == null"
              (click)="releaseEmployees()">
        Freigeben
      </button>
    </mat-toolbar-row>


  </mat-toolbar>

  <app-tablelist *ngIf="employees" [employees]="employees"></app-tablelist>
</div>
