// TODO: declare variables for styling

@import "src/app/styles/variables";
@import "src/app/styles/table-style";

.example-container {
  height: 80vh;
  overflow: auto;
}

.mat-column-auswaehlen {
  max-width: 10%;
}

.mat-row {
  min-height: 65px;

  &.selected {
    background: #dddddd;
  }
}

// FIXME: uncheck checkbox still has orange color
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
  background-color: black !important;
}

.releaseWarn {
  background-color: rgb(255, 227, 231);
  color: black !important;
  border-radius: 5px;
  padding: 5px;
}

.releaseSuccess {
  background-color: rgb(225, 250, 237);
  color: black !important;
  border-radius: 5px;
  padding: 5px;
}
