.container {
  height: 85vh;
}

.headline {
  font-size: 20px;
  color: black;
}

.mat-column-auswaehlen {
  max-width: 10%;
}

.mat-row {
  min-height: 65px;

  &.selected {
    background: #dddddd;
  }
}

.release {
  color: black !important;
  border-radius: 5px;
  padding: 5px;
}

.done {
  background-color: #E1FAED;
}

.wip {
  background-color: #FFEFD9;
}

.warning {
  background-color: #FFE3E7;
}
