<ng-container *ngIf="comments && employee">
  <h2 mat-dialog-title>
    {{'comments-for-employee.commentsFor' | translate:{'firstAndSureName': employee.firstname + " " + employee.lastname} }}
  </h2>


  <mat-dialog-content>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>{{'comments-for-employee.writeCommentLabel'|translate}}</mat-label>
        <textarea
          #newMessage
          [maxLength]="MAXIMUM_LETTERS"
          cdkAutosizeMaxRows="10"
          cdkAutosizeMinRows="5"
          cdkTextareaAutosize
          matInput></textarea>
        <mat-hint align="end">{{newMessage.value.length}} / {{MAXIMUM_LETTERS}}</mat-hint>
      </mat-form-field>

      <button (click)="createCommentForEmployee(newMessage.value);newMessage.value = ''" mat-raised-button>
        {{'comments-for-employee.addCommentBtn' | translate}}
      </button>
    </div>
    <table *ngIf="comments.length > 0; else noCommentsFound" class="mat-table">

      <tr class="mat-header-row">
        <th class="mat-header-cell text-center">{{'comments-for-employee.table.lastChanged' | translate}}</th>
        <th class="mat-header-cell text-center">{{'comments-for-employee.table.author' | translate}}</th>
        <th class="mat-header-cell text-center">{{'comments-for-employee.table.done' | translate}}</th>
        <th class="mat-header-cell">{{'comments-for-employee.table.comment' | translate}}</th>
        <th class="mat-header-cell">{{'comments-for-employee.table.edit' | translate}}</th>
        <th class="mat-header-cell">{{'comments-for-employee.table.delete' | translate}}</th>
      </tr>

      <tr *ngFor="let comment of comments" class="mat-row">
        <td class="mat-cell text-center">
          <p>{{comment.updateDate | date:'dd.LL.yyyy, HH:mm'}}</p>
        </td>

        <td class="mat-cell text-center">
          <p>{{comment.authorName}}</p>
        </td>

        <td class="mat-cell text-center">
          <app-state-indicator [state]="comment.state"></app-state-indicator>
        </td>

        <td class="mat-cell">
          <pre [hidden]="comment.isEditing" [innerHTML]="parseAnchorTags(comment.message)"
               style="white-space: pre-wrap">{{comment.message}}</pre>
          <div [hidden]="!comment.isEditing">
            <mat-form-field floatLabel="never">
              <mat-label>{{'comments-for-employee.editCommentLabel' | translate}}</mat-label>
              <textarea
                #editMessageInput
                [maxLength]="MAXIMUM_LETTERS"
                [value]="comment.message"
                cdkAutosizeMaxRows="15"
                cdkAutosizeMinRows="5"
                cdkTextareaAutosize
                matInput></textarea>
              <mat-hint *ngIf="comment.isEditing" align="end">{{editMessageInput.value.length}}
                / {{MAXIMUM_LETTERS}}</mat-hint>
            </mat-form-field>
          </div>
        </td>

        <td class="mat-cell">
          <ng-container *ngIf="comment.isEditing">
            <button
              (click)="comment.message = editMessageInput.value; toggleIsEditing(comment); updateCommentForEmployee(comment);"
              mat-icon-button>
              <mat-icon>done</mat-icon>
            </button>
            <button (click)="editMessageInput.value = comment.message; toggleIsEditing(comment);" mat-icon-button>
              <mat-icon>clear</mat-icon>
            </button>
          </ng-container>
          <button (click)="toggleIsEditing(comment)" *ngIf="editCommentBtnVisible(comment)" mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
        </td>

        <td class="mat-cell">
          <button (click)="deleteCommentOfEmployee(comment)" *ngIf="editCommentBtnVisible(comment)" mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </table>

    <ng-template #noCommentsFound>
      <p>{{'comments-for-employee.noCommentsYet' | translate}}</p>
    </ng-template>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button (click)="close()" mat-raised-button>{{'comments-for-employee.close' | translate}}</button>
  </mat-dialog-actions>
</ng-container>
