<div *ngIf="!loggedIn()" class="vh-75 d-flex justify-content-center align-items-center">
  <mat-card class="mat-elevation-z8 text-center">
    <mat-card-title>
      {{'login.cardTitle' | translate}}
    </mat-card-title>

    <mat-card-content>
      <span
        class="text">
        <img
          alt="Google G"
          src="../../../../../assets/google-g.png">
        {{'login.promptText' | translate }}
      </span>

      <button
        (click)="login()"
        class="w-75 mt-2"
        color="primary"
        mat-raised-button>
        {{'login.btnText' | translate}}
      </button>
    </mat-card-content>
  </mat-card>
</div>
