.mat-card {
  height: 300px;
}

@media only screen and (min-width: 1000px) {
  .mat-card {
    width: 30%;
  }
}

@media only screen and (max-width: 1000px) {
  .mat-card {
    width: 50%;
  }
}

@media only screen and (max-width: 800px) {
  .mat-card {
    width: 70%;
  }
}

@media only screen and (max-width: 500px) {
  .mat-card {
    width: 80%;
  }
}

.google-img {
  max-width: 7%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.text {
  font-size: 18px;
}
