<div class="container h-75">
  <div class="row h-100 align-items-center">
    <div class="col text-center">
      <mat-icon color="primary">sentiment_very_dissatisfied</mat-icon>
      <h1>{{'error.title' | translate}}</h1>
      <div>
        <p>{{'error.message' | translate}}: {{errorMessage}}</p>
        <button
          (click)="navigatePreviousPage()"
          color="primary"
          mat-raised-button>
          {{'error.reload' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
