<mat-sidenav-container [hasBackdrop]="false" autosize>
  <mat-sidenav #sidenav mode="push" disableClose >
    <mat-nav-list>
      <a mat-list-item>
        <h1>MEGA</h1>
      </a>

      <a mat-list-item [routerLink]="[home]">
        <mat-icon matListIcon (click)="sidenav.toggle()">home</mat-icon>Home
      </a>
      <a mat-list-item [routerLink]="[dashboard]">
        <mat-icon matListIcon (click)="sidenav.toggle()">equalizer</mat-icon>Dashboard
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header></app-header>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>



