<div class="container overflow-auto mat-elevation-z8 overflow-auto">
  <mat-table #table [dataSource]="employees">

    <ng-container matColumnDef="headline">
      <mat-header-cell *matHeaderCellDef
                       class="headline">{{'employees-table.table.title' | translate}}</mat-header-cell>
    </ng-container>

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [aria-label]="checkboxLabel()"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      color="primary">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (change)="$event ? selection.toggle(row) : null"
                      (click)="$event.stopPropagation()"
                      [aria-label]="checkboxLabel(row)"
                      [checked]="selection.isSelected(row)"
                      color="primary">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>{{'employees-table.table.name' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.firstName + " " + element.sureName}} </mat-cell>
    </ng-container>

    <!-- workDescription Column -->
    <ng-container matColumnDef="workDescription">
      <mat-header-cell *matHeaderCellDef>{{'employees-table.table.workDescription' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{FUNCTIONS[element.workDescription]}}</mat-cell>
    </ng-container>

    <!-- releaseDate Column -->
    <ng-container matColumnDef="releaseDate">
      <mat-header-cell *matHeaderCellDef>{{'employees-table.table.releasedUntil' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <p [ngClass]="getReleaseDateColourCoding(element.releaseDate)" class="release">{{element.releaseDate}}</p>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['headline']; sticky: true"></mat-header-row>
    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             [class.selected]="selection.isSelected(row)"
    ></mat-row>
  </mat-table>
</div>
