.mat-row {
  min-height: 65px;

  &.selected {
    background: #dddddd;
  }
}

.example-container {
  height: 80vh;
  overflow: auto;
}

.mat-header-row {
  background-color: rgb(245, 246, 250);
  color: rgb(193, 196, 203);
}

.releaseWarn {
  background-color: rgb(255, 227, 231);
  color: black !important;
  border-radius: 5px;
  padding: 5px;
}

.releaseSuccess {
  background-color: rgb(225, 250, 237);
  color: black !important;
  border-radius: 5px;
  padding: 5px;
}




