<mat-form-field>
    <textarea #autosize="cdkTextareaAutosize"
              #textarea
              (focusout)="onCancel($event, textarea)"
              [maxLength]="MAXIMUM_LETTERS"
              [value]="comment ? comment : ''"
              cdkAutosizeMaxRows="3"
              cdkAutosizeMinRows="1"
              cdkTextareaAutosize
              matInput>
    </textarea>
  <mat-hint align="end">{{textarea.value.length}} / {{MAXIMUM_LETTERS}}</mat-hint>
</mat-form-field>
<button (click)="onCancel($event, textarea)" aria-label="arrow-back" class="cancel" mat-mini-fab>
  <mat-icon>arrow_back</mat-icon>
</button>
<button (click)="onSave(textarea)" aria-label="save" class="save" id="savebutton" mat-mini-fab>
  <mat-icon>save</mat-icon>
</button>
