.container {
  min-width: 85% !important;
  padding: 15px;
}

mat-card {
  margin-bottom: 1vh;
}

.mat-card-content {
  font-size: 20px;
}

.mat-card-title {
  text-align: left;
}

.mat-column-date-journey {
  max-width: 150px;
}

.done {
  text-decoration: line-through;
}

.green {
  color: green;
}

.red {
  color: red;
}

mat-icon {
  font-size: 100px;
  width: auto;
}

.mega-check * .mat-card-content {
  height: calc(40vh - 64px);
}

.employee-checks * .mat-card-content {
  height: calc(80vh - 57px);
}

.scrollable-content {
  overflow: auto;
}

mat-list-option {
  width: max-content !important;
}
