@import "src/app/styles/variables";
@import "src/app/styles/table-style";

.mat-card {
  margin-top: 8%;
}

.mat-card-subtitle {
  margin-left: 20px;
}

.mat-card-content {
  font-size: 20px;
  margin-left: 20px;
  margin-right: 30px;
}

.mat-card-date {
  float: right;
}

.container-mat-table {
  margin-top: 8%;
  height: 30vh;
  overflow: auto;
}

.mat-column-date-journey {
  max-width: 25%;
}
