<h2 mat-dialog-title>MEGA Version</h2>
<mat-dialog-content class="container-fluid d-flex align-items-center justify-content-center">
  <table>
    <tr>
      <td>Version:</td>
      <td>{{info?.version}}</td>
    </tr>
    <tr>
      <td>Commit:</td>
      <td>{{info?.commit}}</td>
    </tr>
    <tr>
      <td>Branch:</td>
      <td>{{info?.branch}}</td>
    </tr>
    <tr>
      <td>Build-Nummer:</td>
      <td>{{info?.buildNumber}}</td>
    </tr>
    <tr>
      <td>Build-Datum:</td>
      <td>{{info?.buildDate}}</td>
    </tr>
    <tr>
      <td>Start-Datum:</td>
      <td>{{info?.startedAt}}</td>
    </tr>
    <tr>
      <td>Laufzeit:</td>
      <td>{{info?.upTime}}</td>
    </tr>
  </table>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-dialog-close mat-raised-button>Schließen</button>
</mat-dialog-actions>
