.releaseBtn {
  background-color: rgb(67, 66, 93);
  border-radius: 5px;
  color: white !important;
}

.filter {
  width: 40%;
}

.toolbar {
  background-color: white !important;
  margin-top: 30px;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.employeeList {
  margin-top: 3%;
}

