<div class="container">
  <mat-toolbar>
    <mat-toolbar-row>
      <h1 class="title">Geparden</h1>
      <button *ngIf="!isGridlistActive" mat-button (click)="releaseEmployees()">
        Freigeben
      </button>
      <button mat-icon-button
              (click)="toggleView()">
        <mat-icon class="swap-view">view_list</mat-icon>
      </button>
    </mat-toolbar-row>


  </mat-toolbar>

  <app-pagination *ngIf="employees" [employees]="employees"
                  [isGridlistActive]="isGridlistActive"></app-pagination>
</div>
