@import 'src/styles/colors.scss';

table {
  width: 100%;
}

th, td {
  font-size: 17px;
}

.actions mat-card-content {
  margin-top: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: $mega-success-green;
}

.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

mat-panel-title {
  flex-grow: 0.5;
}

mat-panel-description {
  flex-grow: 0.5;
}

.headers-align mat-expansion-panel-header {
  margin-left: 10px;
}

.headers-align .mat-expansion-panel-header-description,
.headers-align .mat-expansion-panel-header-title {
  align-items: center;
}

table.projectActions {
  width: auto;
}

table.projectActions > th, td {
  font-size: inherit;
}

tr.spacing > td {
  padding-top: 5px;
}

.preset-next-month {
  margin-left: 15px;
}

.description {
  padding-right: 15px;
}
