<mat-toolbar class="mat-elevation-z8" color="accent">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="end center">
    <app-datepicker-month-year (dateChanged)="dateChanged($event)"></app-datepicker-month-year>
  </mat-toolbar-row>
</mat-toolbar>
<div fxFlexAlign="center" fxFlexFill fxLayout="column" fxLayoutGap="10px"
     *ngIf="pmEntries?.length > 0; else noPmEntriesFound">
  <mat-card *ngIf="isAnySelected()" class="actions">
    <mat-card-content fxFlexAlign="space-around center" fxLayout="row" fxLayoutGap="10px">
      <h2>{{'project-management.actions' | translate}}</h2>
      <span fxFlex="1 1 auto"></span>
      <span fxLayoutGap="10px">
        <button (click)="closeProjectCheckForSelected()"
                mat-raised-button>{{'project-management.doneBtn' | translate}}</button>
      </span>
    </mat-card-content>
  </mat-card>

  <!--  TODO: fix formatting of panel-description-->
  <mat-accordion [multi]="true">
    <mat-expansion-panel *ngFor="let pmEntry of pmEntries, let i = index" [expanded]="true">
      <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>{{pmEntry.projectName}}</strong>
            </mat-panel-title>
          <mat-panel-description>
            <div fxLayout="row wrap">
            <div fxFlex="30%" [ngClass]="areAllProjectCheckStatesDone(pmEntry.projectName) ? 'green' : 'red'"
                 class="wrap">
              {{'project-management.employeeDone' | translate}}
            </div>
            <div fxFlex="70%">
              <span>{{'project-management.projectTimeState' | translate}}</span>
              <!--          ProjectControllingState-->
              <app-project-state-select [value]="pmEntry.projectControllingState"
                                        (selectionChange)="changeProjectControllingState($event, pmEntry)"></app-project-state-select>
              <mat-checkbox *ngIf="isProjectStateNotRelevant(pmEntry.projectControllingState)">
                {{'project-management.presetMonth' | translate}}
              </mat-checkbox>
              <br>

              <!--          ProjectBillingState-->
              <span>{{'project-management.billingState' | translate}}</span>
              <app-project-state-select [value]="pmEntry.projectBillingState"
                                        (selectionChange)="changeProjectBillingState($event, pmEntry)"></app-project-state-select>
              <mat-checkbox *ngIf="isProjectStateNotRelevant(pmEntry.projectBillingState)">
                {{'project-management.presetMonth' | translate}}
              </mat-checkbox>
            </div>
            </div>
          </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="table-container">
        <mat-table [dataSource]="pmEntry.entries">
          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle(pmEntry.projectName) : null"
                            [checked]="pmSelectionModels.get(pmEntry.projectName)?.hasValue() && areAllSelected(pmEntry.projectName)"
                            [indeterminate]="pmSelectionModels.get(pmEntry.projectName)?.hasValue() && !areAllSelected(pmEntry.projectName)">
              </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-checkbox (change)="$event ? pmSelectionModels.get(pmEntry.projectName).toggle(row) : null"
                            (click)="$event.stopPropagation()"
                            [checked]="pmSelectionModels.get(pmEntry.projectName)?.isSelected(row)">
              </mat-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="employeeName">
            <mat-header-cell *matHeaderCellDef>{{'project-management.table.employeeName' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let row" class="font-weight-bold">
              <span class="mobile-label">{{'project-management.table.employeeName' | translate}}</span>
              <a [href]="officeManagementUrl + row.employee.userId"
                 target="_blank">
                <b>{{row.employee.firstname}} {{row.employee.lastname}}</b>
              </a>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="projectCheckState">
            <mat-header-cell *matHeaderCellDef class="text-center"
            >{{'project-management.table.projectCheckState' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let row" class="text-center">
              <span class="mobile-label">{{'project-management.table.projectCheckState' | translate}}</span>
              <app-state-select [value]="row.projectCheckState"
                                (selectionChange)="closeProjectCheck(pmEntry.projectName, row)"></app-state-select>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="employeeCheckState">
            <mat-header-cell *matHeaderCellDef class="text-center"
            >{{'project-management.table.employeeCheckState' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let row" class="text-center">
              <span class="mobile-label">{{'project-management.table.employeeCheckState' | translate}}</span>
              <app-state-indicator [state]="row.employeeCheckState"></app-state-indicator>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="internalCheckState">
            <mat-header-cell *matHeaderCellDef class="text-center"
            >{{'project-management.table.internalCheckState' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let row" class="text-center">
              <span class="mobile-label">{{'project-management.table.internalCheckState' | translate}}</span>
              <app-state-indicator [state]="row.internalCheckState"></app-state-indicator>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="customerCheckState">
            <mat-header-cell *matHeaderCellDef class="text-center"
            >{{'project-management.table.customerCheckState' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let row" class="text-center">
              <span class="mobile-label">{{'project-management.table.customerCheckState' | translate}}</span>
              <app-state-indicator [state]="row.customerCheckState"></app-state-indicator>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="doneCommentsIndicator">
            <mat-header-cell *matHeaderCellDef
                             class="text-center">{{'project-management.table.comments' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let row" class="text-center">
              <span class="mobile-label">{{'project-management.table.comments' | translate}}</span>
              <button (click)="openDialog(row.employee, pmEntry.projectName)" mat-button>
                <mat-icon>comment</mat-icon>
                <app-done-comments-indicator [totalComments]="row.totalComments"
                                             [finishedComments]="row.finishedComments"></app-done-comments-indicator>
              </button>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="releaseDate">
            <mat-header-cell *matHeaderCellDef
                             class="text-center">{{'project-management.table.releaseDate' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let row" class="text-center">
              <span class="mobile-label">{{'project-management.table.releaseDate' | translate}}</span>
              {{row.employee.releaseDate | date:'dd.MM.yyyy'}}
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<ng-template #noPmEntriesFound>
  <mat-card>{{'project-management.noPmEntriesFound' | translate}}</mat-card>
</ng-template>
