<mat-toolbar class="mat-elevation-z8" color="accent">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
    <span>
        {{getCurrentReleaseDate() | date: 'MMMM yyyy' : null : 'de-AT' }}
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<div fxFlexAlign="center" fxFlexFill fxLayout="column" fxLayoutGap="10px">
  <mat-card *ngIf="isAnySelected()" class="actions">
    <mat-card-content fxFlexAlign="space-around center" fxLayout="row" fxLayoutGap="10px">
      <h2>{{'project-management.actions' | translate}}</h2>
      <span fxFlex="1 1 auto"></span>
      <span fxLayoutGap="10px">
        <button (click)="closeProjectCheckForSelected()" mat-raised-button>{{'project-management.doneBtn' | translate}}</button>
      </span>
    </mat-card-content>
  </mat-card>

  <mat-accordion [multi]="true">
    <mat-expansion-panel *ngFor="let pmEntry of pmEntries, let i = index" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>{{pmEntry.projectName}}</strong>
        </mat-panel-title>
        <mat-panel-description>
          <span [ngClass]="areAllProjectCheckStatesDone(pmEntry.projectName) ? 'green' : 'red'">
            {{'project-management.employeeDone' | translate}}
          </span>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="table-container">
        <mat-table [dataSource]="pmEntry.entries">
          <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle(pmEntry.projectName) : null"
                            [checked]="pmSelectionModels.get(pmEntry.projectName)?.hasValue() && areAllSelected(pmEntry.projectName)"
                            [indeterminate]="pmSelectionModels.get(pmEntry.projectName)?.hasValue() && !areAllSelected(pmEntry.projectName)">
              </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-checkbox (change)="$event ? pmSelectionModels.get(pmEntry.projectName).toggle(row) : null"
                            (click)="$event.stopPropagation()"
                            [checked]="pmSelectionModels.get(pmEntry.projectName)?.isSelected(row)">
              </mat-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="employeeName">
            <mat-header-cell *matHeaderCellDef>{{'project-management.table.employeeName' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span class="mobile-label">{{'project-management.table.employeeName' | translate}}</span>
              <a [href]="environment.ZEP_URL_OFFICE_MANAGEMENT + row.employee.userId"
                 target="_blank">
                {{row.employee.firstname}} {{row.employee.lastname}}
              </a>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="projectCheckState">
            <mat-header-cell *matHeaderCellDef class="text-center"
            >{{'project-management.table.projectCheckState' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let row" class="text-center">
              <span class="mobile-label">{{'project-management.table.projectCheckState' | translate}}</span>
              <app-state-select [value]="row.projectCheckState" (selectionChange)="closeProjectCheck(pmEntry.projectName, row)"></app-state-select>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="employeeCheckState">
            <mat-header-cell *matHeaderCellDef class="text-center"
            >{{'project-management.table.employeeCheckState' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let row" class="text-center">
              <span class="mobile-label">{{'project-management.table.employeeCheckState' | translate}}</span>
              <app-state-indicator [state]="row.employeeCheckState"></app-state-indicator>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="internalCheckState">
            <mat-header-cell *matHeaderCellDef class="text-center"
            >{{'project-management.table.internalCheckState' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let row" class="text-center">
              <span class="mobile-label">{{'project-management.table.internalCheckState' | translate}}</span>
              <app-state-indicator [state]="row.internalCheckState"></app-state-indicator>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="customerCheckState">
            <mat-header-cell *matHeaderCellDef class="text-center"
            >{{'project-management.table.customerCheckState' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let row" class="text-center">
              <span class="mobile-label">{{'project-management.table.customerCheckState' | translate}}</span>
              <app-state-indicator [state]="row.customerCheckState"></app-state-indicator>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="doneCommentsIndicator">
            <mat-header-cell *matHeaderCellDef class="text-center">{{'project-management.table.comments' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let row" class="text-center">
              <span class="mobile-label">{{'project-management.table.comments' | translate}}</span>
              <button (click)="openDialog(row.employee, pmEntry.projectName)" mat-button>
                <mat-icon>comment</mat-icon>
                <app-done-comments-indicator [totalComments]="row.totalComments" [finishedComments]="row.finishedComments"></app-done-comments-indicator>
              </button>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="releaseDate">
            <mat-header-cell *matHeaderCellDef class="text-center">{{'project-management.table.releaseDate' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let row" class="text-center">
              <span class="mobile-label">{{'project-management.table.releaseDate' | translate}}</span>
              {{row.employee.releaseDate | date:'dd.MM.yyyy'}}
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
