@import 'src/styles/colors.scss';

table {
  width: 100%;
}

th, td {
  font-size: 17px;
}

.actions mat-card-content {
  margin-top: 20px;
}

.mat-expansion-panel-header-title {
  max-width: 30%;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: $mega-success-green;
}
