<div *ngIf="omEntries && filteredOmEntries" fxFlexAlign="center" fxFlexFill fxLayout="column" fxLayoutGap="10px">
  <mat-toolbar class="mat-elevation-z8" color="accent">
    <mat-form-field floatLabel="never">
      <mat-label>{{'office-management.filterPlaceholder' | translate}}</mat-label>
      <input
        #employeeNameInput
        (keyup)="filterOmEntriesByEmployeeName(employeeNameInput.value)"
        matInput>
      <button (click)="employeeNameInput.value=''; filterOmEntriesByEmployeeName(employeeNameInput.value)"
              *ngIf="employeeNameInput.value"
              mat-button mat-icon-button
              matSuffix>
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <span fxFlex="1 1 auto"></span>

    <div>
      <small
        *ngIf="omSelectionModel.selected.length > 0">
        {{omSelectionModel.selected.length}} {{'office-management.selectedCount' | translate}}
      </small>

      <app-datepicker
        (dateEmitter)="changeDate($event)"
        *ngIf="filteredOmEntries && omSelectionModel.selected.length > 0"
        [selectedDate]="selectedDate">
      </app-datepicker>

      <button (click)="releaseEmployees()"
              *ngIf="omSelectionModel.selected.length > 0 && selectedDate"
              mat-button>
        {{'office-management.releaseBtnText' | translate}}
      </button>
    </div>
  </mat-toolbar>

  <div class="mat-elevation-z10">
    <table *ngIf="filteredOmEntries.length > 0; else noOmEntriesFound" style="width: 100%;"
           [dataSource]="filteredOmEntries"
           mat-table>
      <ng-container matColumnDef="select">
        <th *matHeaderCellDef mat-header-cell>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="omSelectionModel.hasValue() && areAllSelected()"
                        [indeterminate]="omSelectionModel.hasValue() && !areAllSelected()">
          </mat-checkbox>
        </th>
        <td *matCellDef="let row" mat-cell>
          <mat-checkbox (change)="$event ? omSelectionModel.toggle(row) : null"
                        (click)="$event.stopPropagation()"
                        [checked]="omSelectionModel.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell>{{'office-management.table.name' | translate}}</th>
        <td *matCellDef="let omEntry" class="font-weight-bold" mat-cell>
          <a [href]="environment.ZEP_URL_OFFICE_MANAGEMENT + omEntry.employee.userId"
             target="_blank">
            {{omEntry.employee.firstName}} {{omEntry.employee.sureName}}
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="customerCheckState">
        <th *matHeaderCellDef mat-header-cell>{{'office-management.table.customerCheckState' | translate}}</th>
        <td *matCellDef="let omEntry" mat-cell>
          <app-state-select [value]="omEntry.customerCheckState"></app-state-select>
        </td>
      </ng-container>

      <ng-container matColumnDef="internalCheckState">
        <th *matHeaderCellDef mat-header-cell>{{'office-management.table.internalCheckState' | translate}}</th>
        <td *matCellDef="let omEntry" mat-cell>
          <app-state-select [value]="omEntry.internalCheckState"></app-state-select>
        </td>
      </ng-container>

      <ng-container matColumnDef="employeeCheckState">
        <th *matHeaderCellDef mat-header-cell>{{'office-management.table.employeeCheckState' | translate}}</th>
        <td *matCellDef="let omEntry" mat-cell>
          <app-state-indicator [state]="omEntry.employeeCheckState"></app-state-indicator>
        </td>
      </ng-container>

      <ng-container matColumnDef="projectCheckState">
        <th *matHeaderCellDef mat-header-cell>{{'office-management.table.projectCheckState' | translate}}</th>
        <td *matCellDef="let omEntry" mat-cell>
          <app-state-indicator [state]="omEntry.projectCheckState"></app-state-indicator>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef mat-header-cell>{{'office-management.table.comments' | translate}}</th>
        <td *matCellDef="let omEntry" mat-cell>
          <button (click)="openDialog(omEntry)" mat-button>
            <mat-icon>comment</mat-icon>
            <app-done-comments-indicator [comments]="omEntry.comments"></app-done-comments-indicator>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="releaseDate">
        <th *matHeaderCellDef mat-header-cell>{{'office-management.table.releaseDate' | translate}}</th>
        <td *matCellDef="let omEntry" mat-cell>
          <p [ngClass]="getReleaseDateCssClass(omEntry.employee.releaseDate)" class="release">
            {{omEntry.employee.releaseDate | date: configuration.dateFormat}}
          </p>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </div>

  <ng-template #noOmEntriesFound>
    <mat-card>{{'office-management.noOmEntriesFound' | translate}}</mat-card>
  </ng-template>
</div>
