<mat-form-field appearance="fill">
  <mat-label>Jahr - Monat</mat-label>
  <input matInput [matDatepicker]="dp" [formControl]="date" [max]="maxDate">
  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
  <mat-datepicker #dp
                  startView="multi-year"
                  (yearSelected)="chosenYearHandler($event)"
                  (monthSelected)="chosenMonthHandler($event, dp)"
                  panelClass="example-month-picker">
  </mat-datepicker>
</mat-form-field>
