.toolbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

.router-outlet {
  height: 100%;
  margin-top: 10px;
}

img {
  height: 20px;
}

.logo-mega {
  height: inherit;
}

mat-sidenav * a {
  text-decoration: none;
  width: 100%;
  font-size: 20px;
  color: black;
}
