@import "../../../../styles/variables.scss";

.toolbar {
  background-color: $background-color-grey;
  height: 7%;
}

.logo-mega {
  max-width: 10%;
  margin-top: 1%;
}

.mat-tab-nav-bar a {
  margin-top: 9%;
}

.user-actions {
  color: black;
}
