<div>
  <mat-toolbar class="toolbar mat-elevation-z10">
    <div fxHide.gt-sm="true" fxShow="true">
      <button (click)="sidenav.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <img [src]="assetsPath + logoMega" alt="Logo MEGA" class="logo-mega mr-3">

    <div fxHide.lt-md="true" fxLayout="row" fxShow="true" style="width: 100%">
      <nav *ngIf="user" mat-tab-nav-bar>
        <ng-container *ngFor="let link of links">
        <span #rla="routerLinkActive" *ngIf="showLink(link)" [active]="rla.isActive" [routerLink]="link.path"
              mat-tab-link
              routerLinkActive>
          {{ link.name }}
        </span>
        </ng-container>
      </nav>

      <span fxFlex="1 1 auto"></span>

      <a
        *ngIf="user"
        [href]="spreadSheetUrl"
        class="mr-2"
        mat-mini-fab
        target="_blank">
        <img [src]="assetsPath + excelLogo" alt="Dashboard Link" class="excelImg">
      </a>

      <a
        *ngIf="user"
        [href]="zepUrl"
        class="mr-2"
        mat-mini-fab
        target="_blank">
        <img [src]="assetsPath + zepLogo" alt="ZEP Link" class="zepImg">
      </a>

      <div *ngIf="user" class="useractions">
        <app-user-actions (logout)="onLogout($event)" [user]="user"></app-user-actions>
      </div>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-container" fxFlexFill>
    <mat-sidenav #sidenav color="primary" fxHide.gt-sm="true" fxLayout="column" mode="over" opened="false">
      <div fxLayout="column">
        <nav *ngIf="user" mat-tab-nav-bar>
          <ng-container *ngFor="let link of links">
            <a #rla="routerLinkActive"
               (click)="sidenav.close()"
               *ngIf="showLink(link)"
               [routerLink]="link.path"
               mat-button
               routerLinkActive>
              {{ link.name }}
            </a>
          </ng-container>
        </nav>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
