<mat-grid-list cols="2" rowHeight="6:1">
  <mat-grid-tile *ngFor="let employee of employees?.mitarbeiterListe?.mitarbeiter | slice:pageIndex*pageSize:(pageIndex+1)*pageSize">
    <mat-card class="employee-card">
      <mat-card-header class="card-header">
        <mat-card-title>{{employee.vorname + " " + employee.nachname}}</mat-card-title>
        <mat-card-subtitle>{{employee.abteilung || "Mitarbeiter"}}</mat-card-subtitle>

      </mat-card-header>
      <mat-card-content>
        <mat-card-actions class="card-actions">
          <button mat-button disabled style="color: black">{{employee.freigabedatum}}</button>
          <button mat-button (click)="releaseEmployee(employee)">freigeben</button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
