<div style="margin-bottom: 10px">
  <mat-toolbar class="mat-elevation-z6" color="accent">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <span>Abrechnungsmonat auswählen:</span>
      <span>
          <app-datepicker-month-year [date]="date" (dateChanged)="dateChanged($event)"></app-datepicker-month-year>
        </span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<app-enterprise-card></app-enterprise-card>
<app-project-overview-card></app-project-overview-card>
<app-employee-card></app-employee-card>
