.container {
  width: 40%;
  margin: 5px auto 0;
}

.mat-card {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.container-mat-table {
  height: 40vh;
  overflow: auto;
  margin-top: 20px
}

.table {
  background-color: rgb(245, 246, 250);
}

.mat-header-row {
  background-color: rgb(245, 246, 250);
  color: rgb(193, 196, 203);
}

.mat-row {
  min-height: 65px;

  &.selected {
    background: #dddddd;
  }
}
