mat-card {
  margin-bottom: 1vh;
  min-width: 300px;
}

.mat-card-content {
  font-size: 20px;
  overflow: auto;
}

.mat-card-title {
  text-align: left;
}

.mat-column-date-journey {
  max-width: 150px;
}

.done {
  text-decoration: line-through;
}

mat-icon {
  font-size: 100px;
  width: auto;
}

.mega-check * .mat-card-content {
  height: 32vh;
}

.employee-checks * .mat-card-content {
  height: 72vh;
}

mat-list-option {
  width: max-content !important;
}
