mat-card {
  max-height: 90vh;
}

.mat-card-content {
  overflow: auto;
  height: 95%;
  width: 100%;
  font-size: 20px;
}

.mat-column-date-journey {
  max-width: 150px;
}

.done {
  text-decoration: line-through;
}

mat-icon {
  height: 80px;
  font-size: 80px;
  width: auto;
}

mat-list-option {
  width: max-content !important;
}

mat-selection-list {
  overflow-y: auto;
  padding: 15px;
}
