.done {
  text-decoration: line-through;
}

mat-selection-list {
  overflow: auto;
  padding: 15px;
  text-align: left;
}

mat-list-option {
  height: auto !important;
  margin-bottom: 5px;
  margin-top: 5px;
  border-bottom: 1px solid #d8d8d8
}
