<div class="jumbotron bg-transparent text-center">
  <div *ngIf="!loggedIn" class="card text-center">
    <h6 class="card-header">
      Google Login
    </h6>
    <div class="card-block">
      <h4 class="card-title">Not signed in</h4>
    </div>
    <div class="card-block">
      <button class="btn btn-social-icon btn-google mx-1" (click)="signinWithGoogle()">Signin<span
        class="fa fa-google"></span></button>
    </div>
  </div>
  <div *ngIf="loggedIn" class="card text-center">
    <div class="card-block">
      <button class="btn btn-danger" (click)="signOut()">Sign out</button>
    </div>
  </div>
</div>


